.card {
  width: calc(100% - 6px);
  word-wrap: break-word;
  margin: 42px auto 16px;
  @media (max-width: 1100px) {
    margin-bottom: 0;
  }
}

.title {
  padding-bottom: 0;
  height: 120px;
}

.titleText {
  font-size: 14px;
  font-weight: 600;
  color: #585858;
  text-align: left;
  min-height: 55px;
  padding: 5px 15px;
  width: 85%;
  @media (max-width: 1280px) {
    min-height: 50px;
  }
  @media (max-width: 1100px) {
    padding-top: 0;
  }
  @media (max-width: 1000px) {
    min-height: 75px;
  }
}

.supportingTextDescription,
.previewButton {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  width: 88%;
  margin-left: 6%;
}