.description {
  font-size: 16px;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    color: #fff;
  }
}
