.section {
  width: 100%;
}

.label,
.title {
  color: #757575;
}

.title {
  font-size: 20px;
  margin: 10px 0 5px;
}

.label {
  font-size: 16px;
  padding-right: 35px;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 6px;
  height: auto;
  min-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercisesAmount {
  font-size: 16px;
  position: absolute;
  top: 2px;
  right: 15px;
  width: 30px;
  line-height: 23px;
  border-radius: 50%;
  text-align: center;
  color: #757575;
  background-color: #fff;
  cursor: pointer;
  @media (max-width: 1260px) {
    right: 0;
  }
  @media (max-width: 1150px) {
    display: none;
  }
}