.wrapTimeline {
  width: 100%;
  margin: 0 auto;
  padding: 20px 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.arrows {
  margin: 0 20px;
}

.number {
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  background: #3f51b5;
  color: white;
  &:focus,
  &:hover {
    background: #3f51b5;
    color: white;
  }
}

.correct {
  background: rgb(139, 195, 74);
  color: white;
  &:hover {
    background: rgb(139, 195, 74);
    color: white;
  }
}

.incorrect {
  background: #EF5350;
  color: white;
  &:hover {
    background: #EF5350;
    color: white;
  }
}

.wrapNumbers {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding-bottom: 15px;
  & > div {
    margin: 0;
  }
}

.wrapNumbersScroll {
  composes: wrapNumbers;
}
