.instruction {
    padding: 2em;
    color: rgba(0,0,0, 0.6) !important;
}

p, ul {
    font-size: 1.5em !important;
    line-height: 30px;
}

p, ul, li {
    color: rgba(0,0,0, 0.6) !important;
}

.stutteringInstructions, .stutteringInstructionsVariable {
    padding-top: 15px;
  }

.buttons {
    width: 100%;
    text-align: center;
}

.button {
    color: #FFFFFF !important;
    font-size: 1.15em;
    font-weight: 700;
    width: 150px;
    height: 50px;
}