.gridLayout {
  overflow-x: inherit;
  overflow-y: inherit;
}

.contentSection {
  margin: 16px;
  background-color: #fff;
  padding: 14px;
  font-size: 30px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .mainContentContainer {
    box-sizing: border-box;
    padding: 0 2%;
  }
}