.textColor {
    color: rgba(0,0,0, 0.6);
  }
  
  .wrapper {
    /* position: absolute; */
    z-index: 999;
    width: max-content;
    display: -ms-flexbox;
    min-width: 70%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    /* min-height: 855px; */
    /* top: 10%; */
    margin: 10% auto;
    /* left: 30%;
    right: 30%;
    bottom: 10%; */
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
  }

  .overlay {
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75)
  } 
  
  .container {
    width: 100%;
    height: 100%;
  }
  
  .header {
    composes: headerBackground from '../../../../styles/colors.css';
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 25px;
  }
  .content {
    display: flex;
    /* flex-direction: column;
    justify-content: space-evenly; */
    height: calc(90% - 150px);
    /* align-items: center; */
    padding: 1%;
  }

  .rightSection {
    width: 50%;
    height: 100%;
    padding: 0 1%;
  }
  
  .leftSection {
    width: 50%;
    height: 100%;
    padding: 0 3%;

  }

  .basicInfoBlock {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;

  }

  .basicInfoInner {
    margin-left: 5px;   
  }
  
  .name {
    margin-bottom: -20px;
  }

  .modalLabel {
    font-size: 25px !important;
  }
  
  .input {
    width: 100%;
    /* padding-left: 20px;
    padding-right: 20px; */
    margin-top: 40px;
    label,
    input {
      font-size: 25px !important;
    }
    label {
      top: 28px;
    }
  }

  .hobbieCartWrapper {
    padding:  15px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .hobbieCart {
    padding:  3px 7px;
    background: lightgrey;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .removeHobby {
    color: white;
    background: lightslategrey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    margin-left: 10px;
    font-size: 12px;

  }
  .bottom {
    height: 50px;
    width: 95%;
    text-align: right;
  }

  .button {
      margin-right: 15px;
      font-size: 16px;
      font-weight: 700;
  }
  
  .userDataModal {
    width: 90%;
    height: 90%;
    overflow: hidden;
    background-color: white;
  }
  
  
  .greenButton {
    composes: greenButton from '../../../../styles/colors.css';
  }
  
  
  .buttonWrapper {
    align-items: flex-start;
  }
  