.description {
  font-size: 16px;
  height: calc(100% - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  width: 100%;
}

.buttonsLeft {
  width: calc(50% - 10px);
  float: left;
  text-align: right;
  padding-right: 10px;
}

.buttonsLeft > button {
  color: #fff;
}

.buttonsRight {
  width: calc(50% - 10px);
  float: right;
  padding-right: 10px;
}
