.patientsWrapper {
  * {
    box-sizing: border-box;
  }
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  composes: backgroundOrange from '../../../../styles/colors.css';
}
.patientsBlock {
  /* width: 75%; */
  height: 50vh;
  display: flex;
  /* background-color: #FFF; */
}
.createPatient {
  composes: patientsBlock;
  /* width: 400px; */
}
.rightSection,
.leftSection {
  height: 100%;
  background-color: #FFF;
}

.leftSection {
  margin-right: 3%;
  max-width: 22%;
  width: auto;
}
.rightSection {
  width: 75%;
}
.createPatient{
  margin-left: auto;
  margin-right: auto;
}
