.textColor {
    color: rgba(0,0,0, 0.6);
  }

.title {
  color: #757575;
}
  
.wrapper {
  /* position: absolute; */
  width: fit-content;
  display: -ms-flexbox;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  /* min-height: 855px; */
  /* top: 10%; */
  margin: 10% auto;
  /* left: 30%;
  right: 30%;
  bottom: 10%; */
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
}

.container {
  width: 100%;
  height: 100%;  
}

.rightSection {
  width: 40%;
  height: 100%;
}

.leftSection {
  width: 60%;
  height: 100%;
}

.section {
  width: 100%;
  /* margin-bottom: -40px; */
}

.header {
  composes: headerBackground from '../../../../styles/colors.css';
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 25px;
}
.content {
  display: flex;
  justify-content: space-evenly;
  height: calc(90% - 150px);
  /* align-items: center; */
  padding: 5%;
}
.name {
  margin-bottom: -20px;
}
/* label {
  font-size: 25px !important;
} */

.modalLabel {
  font-size: 25px !important;
}

.inputWrapper {
  width: 100%;
  margin-bottom: 6px;
  height: 33px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  padding-left: 50px !important;
  /* padding-bottom: 5px; */
  color: rgba(0,0,0, 0.26);

}

.selected {
  color: rgba(0,0,0, 0.8) !important;
  font-size: 24px;
  font-weight: 500;
  /* border-bottom: 2px solid rgba(0,0,0, 0.6); */
  padding-left: 22px !important;
}

/* .inputWrapper {
  padding-top: 0;
} */

.input {
  width: 100%;
  /* padding-left: 20px;
  padding-right: 20px; */
  font-size: 21px !important;
  margin-top: 30px;
}

.bottom {
  height: 50px;
  width: 95%;
  text-align: right;
}

.button {
    margin-right: 15px;
    font-size: 16px;
    font-weight: 700;
}

.userDataModal {
  width: 90%;
  height: 90%;
  overflow: hidden;
  background-color: white;
}


.greenButton {
  composes: greenButton from '../../../../styles/colors.css';
}


.buttonWrapper {
  align-items: flex-start;
}
  