.container {
  overflow: hidden;
}

.firstRow {
  min-height: 64px;
}

.button {
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
  height: 44px;
  margin: 5px !important;
  background-color: #ff4081;
}

.answerArea {
  padding: 0;
}

.content {
  height: calc(100vh - 190px);
  position: relative;
  overflow-y: auto;
  :global {
    .question-image {
      height: calc(100% - 300px) !important;
      margin: 10px;
    }
  }
}

.answerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  :global {
    .mdl-button {
      margin: 10px;
      font-size: 22px;
      font-weight: 400;
      line-height: 44px;
      height: 44px;
    }
    .drop-area {
      background-color: rgb(255, 255, 255);
      min-width: 120px;
      min-height: 54px;
      border: 3px dashed black;
      border-radius: 2px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.active {
        background-color: rgb(220, 220, 220);
      }
      &.drop-ready {
        background-color: rgb(250, 250, 250);
      }
    }
    .result-input-wrapper {
      width: 70%;
    }
  }
}

.referenceWrapper {
  font-size: 32px;
  min-height: 64px;
  line-height: 64px;
  text-align: center;
}

.overlayIfTestDone {
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
