.container {
  width: 100%;
  height: 100%;
}
.header {
  composes: headerBackground from '../../../../styles/colors.css';
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: flex-start;
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 0 25px;
}
.content {
  padding-bottom: 5%;
  height: calc(100% - 150px);
  overflow-y: auto;
}
.row {
  /* padding: 10px 10px 5px; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto; */
  font-size: 18px;
  /* font-weight: 600; */
  color: lightsteelblue;

  /* text-align: left; */
  i {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.75);
    margin-right: 10px;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: #585858;

  }
}
.cell {
  font-size: 18px;
  text-align: left;
  padding: 5px 10px;

}
.centered {
  text-align: center;

}
.iconsWrapper {
}
.icon {
  font-size: 21px !important;
  padding: 5px;
  display: inline;
  &:hover {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75) !important;
  }

}
.label {
  word-break: normal;
  white-space: normal;
}
.tableBody {
}
.searchInputWrapper {
  width: 100%;
}
.rowInner {
  display: flex;
  align-items: center;
}
.delete {
  font-size: 25px !important;
  cursor: pointer;
  padding: 10px;
  color: rgba(0, 0, 0, 0.15) !important;
  &:hover {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.75) !important;
  }
}
.searchInput {
  color: #000;
  background-color: #fff;
  padding-left: 10px;
  box-sizing: border-box;
  &:focus, &:active {
    outline: 0;
  }
}
.searchIcon {
  position: absolute;
  right: 10px;
  top: 22px;
  color: #757575;
}

.landingModal {
  z-index: 999; 
}