.textColor {
  color: rgba(0,0,0, 0.6);
}

.content {
  height: calc(100vh - 240px);
  margin-top: 20px;
}

.layoutWrapper {
  height: calc(100% - 20px);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.imageWrapper {
  margin: 5px;
  border: 5px solid #fff;
  transition: border-color 0.5s ease-out;
}

.image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.picker {
  padding: 8px 16px;
  width: calc(100% - 32px);
  position: relative;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

.audioContainer {
  padding: 25px;
  margin: 20px;

  display: flex;
  flex-direction: column;
  /* background-color: #e3e8f4; */
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 8px 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  /* align-items: center; */
}


.changeTempoContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.changeTempoItem {
  cursor: pointer;
  margin-left: 20%;
  padding: 10px;
  color: #757575;
}

.changeTempoItem:hover {
  color: #000;
  /* text-decoration: underline; */
  background-color: #f0f0f0;

}

.tempoItemActive {
  font-weight: bold;
  margin-left: 15%;
  color: #555555;
  /* background-color: azure; */
}

.chartBlock {
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.resutsChartWrapper {
  width: 20vh;
  height: 20vh;
  position: relative;
  & > div {
    height: 100%;
  }
}

.chartWrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.resultPercentage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  composes: textColor;
}
.resultLeft {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  composes: textColor;
}
.button {
  margin: 10px;
}

.footer {
  width: 100%;
  height: 70px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 
.oneRow {
  height: calc(100% - 20px);
}

.twoRows {
  height: calc(50% - 20px);
}

.twoInRow {
  width: calc(50% - 20px);
}

.threeInRow {
  width: calc(33% - 20px);
}

.fourInRow {
  width: calc(25% - 20px);
}

.twoRows.twoInRow {
  &:nth-child(odd) {
    text-align: right;
  }
  &:nth-child(even) {
    text-align: left;
  }
}

.twoRows.threeInRow {
  text-align: center;
  &:first-child,
  &:nth-child(4) {
    text-align: right;
  }
  &:last-child,
  &:nth-child(3) {
    text-align: left;
  }
}

.twoRows.fourInRow{
  text-align: center;
  &:first-child,
  &:nth-child(5) {
    text-align: right;
  }
  &:last-child,
  &:nth-child(4) {
    text-align: left;
  }
}

.overlayIfTestDone {
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
} */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin: 15px;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: rgb(63,81,181);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(63,81,181);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.sliderRound {
  border-radius: 12px;
}

.sliderRound:before {
  border-radius: 50%;
}
