:global {
  .is-small-screen .mdl-navigation > .mdl-button {
    height: 56px;
    line-height: 58px;
  }
}

.header {
  composes: headerBackground from '../../../../styles/colors.css';
  position: fixed;
  /* padding-left: 20px; */
  @media (max-width: 839px) and (min-width: 480px) {
    padding-left: 10px;
  }
}

.headerRow {
  padding: 0;
}

.headerLogo {
  font-size: 40px;
  width: 260px;
  box-sizing: border-box;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  text-transform: none;
  @media (max-width: 839px) and (min-width: 480px) {
    width: 170px;
  }
}

.headerLogoImage {
  width: 230px;
  position: relative;
  bottom: 3px;
  @media (max-width: 839px) and (min-width: 480px) {
    width: 160px;
  }
}

.headerNavLinks {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  padding: 0 10px;
}

.currentUser {
  font-size: 16px;
  margin: 0 10px;
  display: inline-flex;
  align-items: center;
}

.userIcon {
  cursor: pointer;
  padding: 5px;
}

.userIcon :hover {
  color:rgb(87, 176, 221)
}

.tutorIcon {
  cursor: pointer;
  padding: 0px;
  /* min-width: 45px; */
}

.tutorIcon :hover {
  color:rgb(87, 176, 221)
}

.userName {
  font-weight: bold;
}

.headerSaveButton {
  width: 10%;
}

.overlay {
  composes: modalOverlay from '../../../../styles/styles.css';
}

.modal {
  composes: reportModal from '../../../../styles/styles.css';
}
