.sample {
  width: calc(100% - 32px);
  height: calc(100% - 302px);
  position: absolute;
  cursor: pointer;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}

.parent {
  margin: 64px;
  height: calc(100% - 128px);
}

.image {
  width: 100%;
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  object-fit: scale-down;
}

.narrow {
  width: 24px;
}

.horizontal {
  width: 100%;
}

.center {
  text-align: -webkit-center!important;
}

.moreContainer {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.show {
  color: #ff4081;
  display: table-cell;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.delete {
  color: #757575;
  display: table-cell;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}