.content {
  height: calc(100vh - 240px);
  margin-top: 20px;
}

.layoutWrapper {
  height: calc(100% - 20px);
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.imageWrapper {
  margin: 5px;
  border: 5px solid #fff;
  transition: border-color 0.5s ease-out;
}

.image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.oneRow {
  height: calc(100% - 20px);
}

.twoRows {
  height: calc(50% - 20px);
}

.twoInRow {
  width: calc(50% - 20px);
}

.threeInRow {
  width: calc(33% - 20px);
}

.fourInRow {
  width: calc(25% - 20px);
}

.twoRows.twoInRow {
  &:nth-child(odd) {
    text-align: right;
  }
  &:nth-child(even) {
    text-align: left;
  }
}

.twoRows.threeInRow {
  text-align: center;
  &:first-child,
  &:nth-child(4) {
    text-align: right;
  }
  &:last-child,
  &:nth-child(3) {
    text-align: left;
  }
}

.twoRows.fourInRow{
  text-align: center;
  &:first-child,
  &:nth-child(5) {
    text-align: right;
  }
  &:last-child,
  &:nth-child(4) {
    text-align: left;
  }
}

.overlayIfTestDone {
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
