:global {
  .preview-modal {
    position: static;
    min-height: 180px;
    min-width: 700px;
    max-width: 1280px;
    width: calc(100% - 100px);
    background-color: #E9712D;
    overflow: auto;
    outline: none;
    color: #fff;
  }
}

.preview {
  height: 70vh;
  position: relative;
  padding: 70px 40px 40px;
  @media (max-height: 800px) {
    height: 80vh;
  }
  @media (max-height: 570px) {
    height: 90vh;
  }
  @media (max-height: 460px) {
    height: 100vh;
  }
}

.back {
  font-size: 16px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.backIcon {
  font-size: 22px;
}

.rightSection,
.leftSection {
  h5 {
    font-weight: bold;
  }
  h2 {
    margin-top: 0;
  }
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.leftSection {
  overflow-x: auto;
  text-align: justify;
  font-size: 16px;
}

.scrollbarsWrapper {
  height: calc(70vh - 126px);
  width: 100%;
}

.title {
  text-align: left;
}

.title,
.instructions,
.benefits,
.usefullness {
  margin-right: 15px;
  white-space: pre-wrap;
}
.instructions {
  line-height: 24px;
}
.stutteringInstructionsContainer {
  white-space: pre-wrap;
  text-align: start;
  font-size: 16px;
}
.stutteringInstructions, .stutteringInstructionsVariable {
  color: #fff !important;
  padding: 15px 15px 0 0;
  /* font-size: 1.15em !important; */
}

.popupInstructions, .popupInstructionsVariable {
  padding: 15px 0 0 0;
}

.stutteringInstructionsVariable {
  font-weight: 700;
}

.popupInstructionsVariable {
  font-weight: 700;
}

.image {
  width: 100%;
  height: 50%;
}

.begin,
.favouritesButton {
  text-transform: uppercase;
  display: flex;
  height: 60px;
  margin: 8px 0 0;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}

.begin {
  margin-top: 30px;
}

.addToFavourites {
  composes: greenButton from '../../../../styles/colors.css';
}

.removeFromFavourites {
  composes: redButton from '../../../../styles/colors.css';
}

.spinnerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  composes: preview;
}

.buttonsWrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
}

.beginWhenTopics {
  width: 48%;
  height: 90px;
  float: left;
  @media (max-height: 800px) {
    height: 70px;
  }
}

.beginWhenTopics {
  composes: begin;
  margin: 8px 2% 0 0;
}

.removeFromFavouritesWhenTopics {
  composes: removeFromFavourites;
  height: 60px;
}

.addToFavouritesWhenTopics {
  composes: addToFavourites;
  height: 60px;
}

.selectTopic {
  composes: begin;
  margin: 0;
}

.topicsPopup {
  position: absolute;
  top: 40px;
  left: 40px;
  height: calc(100% - 80px);
  width: calc(50% - 72px);
  background-color: #fff;
}

.triangle {
  position: absolute;
  left: 100%;
  width: 30px;
  height: 60px;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    transform: rotate(45deg);
    top: 17px;
    left: -15px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
}

.listItem {
  color: #5C5C5C;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  line-height: 39px;
  text-transform: uppercase;
  border-bottom: 3px solid #DEDEDE;
  width: 98%;
  margin: 0 auto;
  cursor: pointer;
}
