.contentSection {
    margin: 16px;
    background-color: #fff;
    padding: 14px;
    font-size: 30px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.paymentReminderSection {
    display: flex;
    align-items: center;
    color: rgb(255,255,255);
    background-color: #e91c63;
    padding: 10px;
}

.paymentReminder {
    font-size: 16px; 
    line-height: 24px; 
}

.paymentReminderLink {
    margin: 0 0 0 20px;
    white-space: nowrap;
}