.answer {
  font-size: 22px;
  font-weight: 400;
  line-height: 44px;
  height: 44px;
  margin: 10px;
  transition: .5s;
}

.content {
  height: calc(100vh - 220px);
  padding-top: 40px;
  position: relative;
  :global {
    .question-image {
      height: calc(100% - 130px);
    }
    .question-image-text {
      height: calc(100% - 300px);
    }
    .question-wrapper {
      height: 70%;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.answerWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.questionWrapper {
  text-align: center;
}

.overlayIfTestDone {
  background: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}


@keyframes hidden {
  from { opacity: 1; }
  to { opacity: 0; }
}

.hiddenButton {
  opacity: 0;
  animation-name: hidden;
  animation-duration: .5s;
}
