.sample {
  display: none;
}

.narrow {
  width: 24px;
}

.horizontal {
  width: 100%;
}

.center {
  text-align: -webkit-center!important;
}

.play {
  color: #ff4081;
  display: table-cell;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.delete {
  color: #757575;
  display: table-cell;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}