.container {
    width: 100%;
    /* height: 20vh; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: space-evenly; */
    font-size: 18px;
    /* padding: 30px 0; */
    color: #757575;
    flex-wrap: wrap;
  justify-content: center;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider {
    width: 95%;
    /* height: 90px; */
    /* margin-top: 55px; */
    margin: 0 5%;
}

.button {
    width: 170px;
    height: 40px;
    /* margin-top: -5vh;; */
}