.header {
  composes: headerBackground from '../../../../styles/colors.css';
}

.headerRow {
  position: relative;
  padding: 0 4% !important;
}

.icon {
  margin: auto 10px;
  cursor: pointer;
}

.audioButton {
  margin: auto 10px;
  cursor: pointer;
}

.title {
  margin: 0;
}

.centerText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.exerciseName {
  display: block;
  font-size: 1.2em;
  text-transform: uppercase;
}

@media (max-width: 1270px) {
  .centerText {
    transform: translateY(-50%) translateX(-30%);
  }
}

@media (max-width: 1050px) {
  .centerText {
    transform: translateY(-50%) translateX(-20%);
  }
}

@media (max-width: 1024px) {
  .header {
    display: flex !important;
  }

  .centerText {
    transform: translateY(-50%) translateX(-50%) !important;
  }
}

@media (max-width: 890px) {
  .centerText {
    transform: translateY(-50%) translateX(-40%) !important;
  }
}

@media (max-width: 790px) {
  .centerText {
    transform: translateY(-50%) translateX(-30%) !important;
  }
}

@media (max-width: 710px) {
  .centerText {
    transform: translateY(-50%) translateX(-20%) !important;
  }
}
