.background {
  background: #e9eef0;
}

.content {
  padding-top: 64px;
}

.container {
  height: calc(100% - 16px);
}

.header {
  height: 106px;
  padding: 16px;
  background: #3b559b;
}

.middle {
  height: calc(100% - 206px);
  background: #fff;
  overflow-y: auto;
}

.bottom {
  height: 52px;
  background: #f1f1f1;
}

.button {
  margin: 8px;
}

.title {
  margin: 4px 0;
  white-space: nowrap;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.search {
  width: 20%;
  padding: 0;
}

.magnifier {
  position: absolute;
  top: 2px;
  right: 4px;
  color: #757575;
}

.input {
  padding: 4px 28px 4px 4px;
  color: #000;
  background: #fff;
  box-sizing: border-box;
  border-bottom: none;
}

.label {
  padding: 0 8px 0 16px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.unselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.selection {
  display: inline;
  padding: 4px 0 4px 16px;
  border-radius: 2px;
  background: #fff;
}

.radio {
  padding-left: 20px;
  padding-right: 16px;
  line-height: 26px;
  top: -1px;
  color: #000;
}