.headerBackground {
  background-color: #3B559B;
}

.backgroundOrange {
  background-color: #E9712D;
}

.greenButton {
  background-color: #32887A !important;
}

.redButton {
  background-color: #E56262 !important;
}
