.header {
  height: 90px;
  padding: 16px;
  background: #3b559b;
}

.middle {
  height: calc(100% - 206px);
  background: #fff;
  overflow-y: auto;
}

.inner {
  height: calc(100% - 16px);
}

.bottom {
  height: 52px;
  background: #f1f1f1;
}

.title {
  margin: 4px 0;
  white-space: nowrap;
  color: #fff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.modal {
  height: 80%;
  width: calc(100% - 80px);
  max-width: 1000px;
  background: #fff;
  z-index: 10;
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
}

.dropzone {
  height: calc(100% - 170px);
  min-height: 80px;
  background: #d6d9e0;
  border: 2px solid #afc4ff;
  border-radius: 4px;
}

.holder {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 0;
}

.picker {
  display: none;
  padding: 8px 16px;
  width: calc(100% - 32px);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

.dialog {
  display: none;
  z-index: 1;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.control {
  padding: 8px;
}

.symbol {
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: #3b559b;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.instruction {
  text-align: center;
  margin: 0;
  color: #3b559b;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.label {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.input {
  width: 50%;
  padding: 12px 12px;
}

.button {
  margin: 0 16px 0 0;
}