.textColor {
  color: rgba(0,0,0, 0.6);
}

.content {
  /* height: calc(100vh - 240px); */
  /* margin: 20px auto 0;
  max-width: 1440px; */

}

.layoutWrapper {
  /* height: calc(100% - 500px); */
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.imageWrapper {
  margin: 5px;
  border: 5px solid #fff;
  transition: border-color 0.5s ease-out;
}

.image {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.picker {
  padding: 8px 16px;
  width: calc(100% - 250px);
  position: relative;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  z-index: 1;
}

.audioInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.exerciseContainer {
  padding: 15px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* height: calc(100% - 100px); */
  /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2); */
}

.imageContainer {
  height: calc(100vh - 340px);
  width: 95%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exerciseFourimage {
  /* min-width: 50vW;
  min-height: 50vH;
  /* max-width: 85vW; */
  max-height: calc(100vh - 300px);
  width: auto;
  height: auto;
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -60px;
}

.instructionsButtonContainer {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
}

.instructionsButton {
  /* cursor: pointer; */
  height: 40px;
  margin: 15px 0;
  /* padding: 12px 10px; */
  color: #757575;
  text-transform: uppercase;
  /* font-size: 1.75em; */
}


.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}



.instruction {
  font-size: 24px;
  text-transform: uppercase;
}

.audioButton {
  width: 200px;
  height: 50px;
}

.audioButtonActive {
  background-color: rgb(255,64,129) !important;
  pointer-events: none;
}
.result {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  color: #757575;
  height: 50px;
  margin-bottom: -50px;
  margin-top: 50px;
}

.container {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}


.changeTempoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.changeTempoItem {
  cursor: pointer;
  margin-left: 10%;
  padding: 12px 10px;
  color: #757575;
  font-size: 1.75em;
}

.changeTempoItem:hover {
  color: #000;
  /* text-decoration: underline; */
  background-color: #f0f0f0;
}

.tempoItemActive {
  font-weight: bold;
  margin-left: 5%;
  color: #555555;
  /* background-color: azure; */
}

.toggleBlock {
  width: 90%;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #757575;
}

.chartBlock {
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.resutsChartWrapper {
  width: 17vh;
  height: 17vh;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  & > div {
    height: 100%;
  }
}

.chartWrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.resultPercentage {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  composes: textColor;
}
.resultLeft {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  composes: textColor;
}
.button {
  margin: 10px;
}


.buttonReady {
  background-color: #faacac;
}


.footer {
  width: 100%;
  height: 70px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerItem {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 5px 12px 5px 0;

}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: rgb(63,81,181);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(63,81,181);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.sliderRound {
  border-radius: 12px;
}

.sliderRound:before {
  border-radius: 50%;
}
